body {
    margin: 0;
    font-family: "Inter", sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: 1em;
    font-weight: 400;
}

button {
    background-color: inherit;
	color: inherit;
	font: inherit;
	outline: inherit;

	border: none;
	padding: 0;
    
    cursor: pointer;
}

ul {
    list-style: none;
    list-style-type: none;
    
    margin: 0;
    padding-left: 0;
}

img {
    width: 100%;
    height: auto;
}

/* utility: */

/*  */
[data-tooltip] {
    /* scoped: */
    --width: 8rem;
    --placement-offset: 0.2rem;

    --background-color: #262626;
    --color: #fafafa;

    position: relative;
    cursor: default;
}

[data-tooltip]::after {
    /* different from display!: */
    visibility: hidden;

    position: absolute;
    box-sizing: border-box;

    /* like an anchor point--works because of the positioning attributes! */
    left: 50%;
    transform: translate(-50%, calc(var(--placement-offset, 0.2rem) * -1));
    bottom: calc(100% + 0.4rem);
    
    width: max-content;
    max-width: var(--width);
    padding: 0.4rem;
    
    content: attr(data-tooltip);
    font-size: 0.8em;
    hyphens: auto;

    background-color: var(--background-color);
    color: var(--color);
    border-radius: 0.25rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);

    opacity: 0;
    
    transition: 
        opacity 0.3s ease,
        transform 0.2s;
}

[data-tooltip]:hover::after {
    visibility: visible;

    opacity: 1;
    transform: translate(-50%, 0);
}

[data-tooltip-bottom]::after {
    top: calc(100% + 0.4rem);
    bottom: initial;

    transform: translate(-50%, var(--placement-offset, 0.2rem));
}
