:root {
    --primary-background: white;
    --primary-color: black;
    --secondary-background: #fafaf9;
    --secondary-color: #0a0a0a;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: 1em;
    font-weight: 400;
}

button {
    background-color: inherit;
	color: inherit;
	font: inherit;
	outline: inherit;

	border: none;
	padding: 0;
    
    cursor: pointer;
}

ul {
    list-style: none;
    list-style-type: none;
    
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    
    width: 100%;
    height: auto;
}

/* utility: */
.primary {
    background-color: var(--primary-background);
    color: var(--primary-color)
}

.secondary {
    background-color: var(--secondary-background);
    color: var(--secondary-color);
}

/*  */
.card {
    overflow: auto;

    background-color: transparent;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    border-radius: 0.25rem;

    transition: box-shadow 0.2s ease-out;
}

.card:hover {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.card.vertical {
    display: flex;
    flex-direction: column;
    
    width: 18rem;
}

.card.horizontal {
    display: flex;
    width: fit-content;
}

.card .display {
    display: flex;
    flex-grow: 1;

    max-height: 16rem;
}

.card .display img {
    object-fit: cover;
}

.card .blurb {
    padding: 0.8rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.card .blurb .title {
    font-weight: 500;
    margin-bottom: 0.2rem;
}

.card .blurb p {
    font-size: 0.8rem;
}

.card.horizontal .display {
    margin: auto 0;
    max-width: 16rem;
}

.card.horizontal .blurb {
    max-width: 32rem;
}

.card.vertical .blurb {
    max-height: 48rem;
}

.card-list {
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    gap: 0.5rem;
}
