:root {
    --primary-background: white;
    --primary-color: black;
    --secondary-background: #27272a;
    --secondary-color: #e5e5e5;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: 1em;
    font-weight: 400;
}

button {
    background-color: inherit;
	color: inherit;
	font: inherit;
	outline: inherit;

	border: none;
	padding: 0;
    
    cursor: pointer;
}

ul {
    list-style: none;
    list-style-type: none;
    
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    
    width: 100%;
    height: auto;
}

/* utility: */
.primary {
    background-color: var(--primary-background);
    color: var(--primary-color)
}

.secondary {
    background-color: var(--secondary-background);
    color: var(--secondary-color);
}

/*  */
.card {
    display: flex;
    overflow: auto;

    background-color: transparent;
    
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    border-radius: 0.25rem;
}

.card.vertical {
    flex-direction: column;

    width: 18rem;
    min-height: 20rem;
}

.card.horizontal {
    display: inline-flex;
}

.card .title {
    flex-grow: 1;
}

.card .blurb {
    padding: 0.8rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.card.horizontal .blurb {
    max-width: 32rem;
}

.card.vertical .blurb {
    max-height: 48rem;
}
