:root {
    --primary: #3b82f6;
    --primary-text: black;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: 1em;
    font-weight: 400;
}

button {
    background-color: inherit;
	color: inherit;
	font: inherit;
	outline: inherit;

	border: none;
	padding: 0;
    
    cursor: pointer;
}

/* utility: */
.primary {
    background-color: var(--primary);
    color: var(--primary-text);
}

.shadow-md {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.rounded-md {
    border-radius: 0.3em;    
}

.rounded-lg {
    border-radius: 0.5em;
}

/*  */
header {
    box-sizing: border-box;
}

header .title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;

    font-size: 1.2em;
    font-weight: 700;
}

header .mobile-nav {
    display: none;
}

header nav {
    
}

header .cta {
    padding: 0.4rem;
    font-weight: 500;
}

header .mobile-nav {

}

@media screen and (max-width: 640px) {
    header .mobile-nav {
        display: block;
    }
}
